@IMPORT url("../css/layout/lightblue/default.css");
@IMPORT url("menu0.css");

.menubar {
	background: rgba(255, 255, 255, 0.4);
	margin-top: 10px;
	padding: 10px;
	padding-left: 18px;
	border-radius: 4px;
}
