@IMPORT url("menu1.css");

body {
	background-color: #f3f3f4;
	color: #666666;
	font-family: 'open sans', 'sans-serif';
}

.applicationTitleBar {
	padding: 20px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #d8d8d8;
}

.applicationTitle {
	width: 1000px;
	margin: auto;
}

.menubar {
	position: relative;
	width: 1000px;
	margin: auto;
	top: -62px;
	left: 200px;
}
.menubarInner {
	position: absolute;
}

.pageTitleBar {
	margin-top: 4px;
	padding: 14px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #e7eaec;
}

.pageTitle {
	font-size: 20px;
	width: 1000px;
	margin: auto;
}

.pageBody {
	border: 1px solid #dddddd;
	border-top: 5px solid #e7eaec;
	width: 1000px;
	margin: auto;
	margin-top: 10px;
	background-color: #FFFFFF;
	padding: 20px;
	min-height: 360px;
	color: #515151;
}


a {
	text-decoration: none;
	color: #2277af;
} 
a:hover {
	text-decoration: underline;
}

.dataGrid {
	width: 100%;	
	border: 1px solid #CCCCCC;
}

.dataGrid TBODY TD,  .dataGrid THEAD TH, .dataGrid TFOOT TD {
	padding: 4px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.dataGrid THEAD TH {
	font-weight: 600;
	text-align: left;
}

.dataGridBody1 {
	background-color: #f9f9f9;
}
.dataGridBody2 {
}

.pagging {
	text-align: right;
	padding: 4px;
	margin-top: 4px;
}

.inputTable TD {
	padding: 6px;
}

.inputTable LABEL {
	padding-right: 10px;
}

.linkBar {
	margin-bottom: 10px;
}
.actionBar {
	margin-top: 10px;
}

INPUT {
	padding: 1px;
}


/* login page */
.loginPanel .pageTitle {
	font-size: 20px;
	font-weight: 300;
	border-bottom: 1px solid #c1d3da;
	width: 290px;
	padding: 14px;
}
.loginPanel {
	min-height: 10px;
	width: 340px;
	border: 1px solid #c1d3da;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #BBBBBB;
	padding: 0px;
	margin-top: 60px;
}
.loginForm {
}

.loginProperties {
	padding-top: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	border-bottom: 1px solid #dde0e8;
}
.loginProperty {
	padding-bottom: 16px;
}

.loginForm LABEL {
	text-align: left;
	display: block;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
}
.loginForm INPUT[type=text], .loginForm INPUT[type=password]{
	border-radius: 2px;
	padding: 8px;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #cccccc;
	width: 272px;
}

.loginForm INPUT[type=submit] {
	padding: 2px;
	margin: 20px;
	width: 80px;
	margin-left: auto;
}

.loginSubmitPanel {
	text-align: right;
	background-color: #f1f6f8;
	border: 1px solid #ffffff;
}

.messageOuterDiv {
	position: relative;
	width: 1000px;
	margin: auto auto;
	padding-left: 400px;
}

.messagesContainer {
	position: absolute;
}

.messageblock LI {
	list-style: none;
	list-style-position: outside;
	border: 1px solid #AAAAAA;
	border-left: 6px solid #AAAAAA;
	width: 750px;
	margin-top: 5px;
	padding: 6px;
	padding-left: 10px;
	border-radius: 6px;
	background-color: white;
	cursor: default;
	box-shadow: 1px 1px 2px #CCCCCC;
	font-weight: 600;
}

.messageCloseIcon {
	float: right;
	position: relative;
	padding: 5px;
	padding-top: 0px;
	cursor: pointer;
}

.messageblock LI.error {
	background-color: #e57563;
	color: #FFFFFF;
	border-color: #bd3520
}
.messageblock LI.warn {
	background-color: #e5bf63;
	color: #FFFFFF;
	border-color: #bd9320
}
.messageblock LI.info {
	background-color: #3edd3e;
	color: #FFFFFF;
	border-color: #229b22
}


.messageblock LI.error UL {
}
.messageblock LI.error UL LI {
}
.messageblock LI.causeitem {
	background-color: transparent;
	width: 650px;
	border-width: 0px;
	box-shadow: 0px 0px 0px;
}

.messagetoast {
	position: absolute;
	top: 130px;
	background-color: transparent;
	z-index: 1000;
	width: 100%;
}
.messagetoast div{
	margin: auto;
	display: block;
	width: 300px;
	text-align: center;
	background-color: #555555;
	border: 1px solid #222222;
	border-radius: 10px;
	color:#FFFFFF;
	padding: 8px;
	font-weight: 500;
	opacity: 0.95;
}

.requiredMark {
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
	color: #D00000;
	width: 5px;
	height: 20px;
	opacity: 0.8;
}