@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'), local('OpenSans-Light'), url(OpenSans-Light.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'), local('OpenSans-Regular'), url(OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('OpenSans-ExtraBold'), local('OpenSans-ExtraBold'), url(OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url(OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans-Semibold'), local('OpenSans-Semibold'), url(OpenSans-Semibold.ttf);
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('OpenSans-LightItalic'), local('OpenSans-LightItalic'), url(OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('OpenSans-Italic'), local('OpenSans-Italic'), url(OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('OpenSans-ExtraBoldItalic'), local('OpenSans-ExtraBoldItalic'), url(OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('OpenSans-BoldItalic'), local('OpenSans-BoldItalic'), url(OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('OpenSans-SemiboldItalic'), local('OpenSans-SemiboldItalic'), url(OpenSans-SemiboldItalic.ttf);
}