.select_many_popup_container {
	white-space: nowrap;
	display: inline;
}

.select_many_popup_labels {
	min-width: 100px;
}

.select_many_popup_button {
	
}

.select_many_popup_box_controls {
	
}

.select_many_popup_box_body {
	
}

.select_many_popup_box_opdiv {
	width: 300px;
	float: left;
	padding: 2px;
}

.select_many_popup_box_buttons {
	padding-top: 8px;
}