.select_many_popup_container {
	white-space: nowrap;
	display: inline;
}

.select_many_popup_labels {
	min-width: 100px;
}

.select_many_popup_values {
	
}

.select_many_popup_button {
	
}

.select_many_popup_box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	
	border: 1px solid #888888; 
	box-shadow: 4px 4px 3px #888888;
	padding: 14px;
}

.select_many_popup_box_buttons {
	padding-top: 8px;
}

.select_many_popup_box_opdiv {
	width: 200px;
	float: left;
	padding: 2px;
}

.select_many_popup_box_controls {
	height: 28px;
}