MAIN {
	background-image: url("header-background.jpg");
	background-position: top;
	background-repeat: repeat-x;
	min-height: 100px;
}

TH {
	font-weight: normal;
}

A {
	text-decoration: none;
}

A:HOVER {
	text-decoration: underline;
}

A.btn:HOVER {
	text-decoration: none;
}

:root {
	--bs-primary: #006699;
	--sl-primary-hover: #005588;
	--sl-primary-disabled: #005588;
	--bs-warning: #d7a100;
	--bs-link-color: #006699;
	--bs-link-hover-color: #005588;
	--bs-border-color: #eeeff0;
	--sl-card-cap-color: #eaf2ff;
	--bs-light-rgb: 238,239,240; /* #eeeff0 */
	--sl-disabled-bg: var(--bs-gray-200);
	--sl-alert-bg: #fffaeb;
}


/* MessagesTag */

.alert-primary {
	--bs-alert-color: var(--bs-primary);
	--bs-alert-bg: var(--sl-alert-bg);
	--bs-alert-border-color: #e5dbba;
}

.messageBlock UL {
	padding-left: 0;
	margin: 0px;
}

.messageBlock UL LI {
	position: relative;
	list-style-type: none;
	padding-left: 30px;
}

.messageCloseIcon {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	padding-top: 0px;
	cursor: pointer;
	color: var(--bs-dark);
}

LI.debug, .debug {
	background-image: url("debug.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	color: var(--bs-green);
}

LI.trace, .trace {
	background-image: url("trace.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
}

LI.info, .info {
	background-image: url("ok.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	color: var(--bs-success);
}

LI.warn, .warn {
	background-image: url("warn.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	color: var(--bs-warning);
}

LI.error, .error {
	background-image: url("error.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	color: var(--bs-danger);
}

LI.validation, .validation {
	background-image: url("validation.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	color: var(--bs-danger);
}

LI.event, .event {
	background-image: url("event.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
}

.exceptionItem, .messageBlock UL LI .exceptionItemm {
	color: var(--bs-danger);
}

.causeItem, .messageBlock UL LI UL LI.causeItem {
	color: var(--bs-dark);
	font-size: 0.75rem;
	padding-left: 0px;
}


/* Panels */

.list-group {
	--bs-list-group-border-color: var(--bs-border-color);
}

.card {
	--bs-card-border-color: var(--bs-border-color);
	--bs-card-cap-bg: var(--sl-card-cap-color);
	--bs-card-cap-color: var(--bs-primary);
}

.card-header .form-control, .card-header .form-select,
.card-footer .form-control, .card-footer .form-select,
.form-controls-inline .form-control, .form-controls-inline .form-select,
.form-control-inline {
	display: inline;
	width: auto;
	min-width: 0;
}


/* Tabs */

.nav-tabs {
	background-color: var(--sl-card-cap-color);
}


/* PropertyTag e InputTag */

SPAN.form-control {
	background-color: var(--sl-disabled-bg);
}

.form-control:focus {
	border-color: var(--bs-primary);
	box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.form-control:disabled, .readOnly {
	background-color: var(--sl-disabled-bg);
}

.input-group-text {
	padding: 0.375rem 0.4rem; /* para não esconder a data */
}

.requiredMark{
	border-right: 3px solid red;
}


/* SubmitTag */

.btn {
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb)
}

.btn-primary {
	--bs-btn-color: #FFFFFF;
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--sl-primary-hover);
	--bs-btn-hover-border-color: var(--sl-primary-hover);
	--bs-btn-active-bg: var(--sl-primary-hover);
	--bs-btn-active-border-color: var(--sl-primary-hover);
	--bs-btn-disabled-bg: var(--sl-primary-disabled);
	--bs-btn-disabled-border-color: var(--sl-primary-disabled);
	--bs-btn-disabled-opacity: 0.5;
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--sl-primary-hover);
	--bs-btn-hover-border-color: var(--sl-primary-hover);
}

.btn-micro {
	--bs-btn-padding-y: 1px;
	--bs-btn-padding-x: 2px;
	--bs-btn-font-size: 0.75rem;
	--bs-btn-border-radius: 0.2rem;
	--bs-btn-line-height: 1em;
}


/* DataGridTag */

TABLE THEAD A, TABLE THEAD A:HOVER {
	color: var(--bs-table-color);
}

.table {
	--bs-table-bg: #FFFFFF;
	--bs-table-striped-bg: #F9F9F9;
	--bs-table-hover-bg: #F3F3F3;
	margin-bottom: 0px;
}

.table > THEAD > TR > TH, .table-center > TD {
	vertical-align: middle;
	text-align: center;
}

.table > TBODY > TR > TD {
	vertical-align: middle;
}

.table-light {
	--bs-table-color: var(--bs-primary);
	--bs-table-bg: var(--sl-card-cap-color);
	--bs-table-border-color: var(--bs-border-color);
}

TABLE .group1 TD, TABLE .group2 TD, TABLE .group3 TD{
	background-color: var(--bs-gray-300);
	box-shadow: none;
}

TABLE .group1 TD:first-child:before, TABLE .group2 TD:first-child:before, TABLE .group3 TD:first-child:before{
	font-family: bootstrap-icons !important;
	font-size: 0.7em;
	padding-right: 0.5em;
}

TABLE .group1 TD:first-child:before{
	content: "\F231 ";
}

TABLE .group2 TD:first-child:before{
	content: "\F231\F231 ";
}

TABLE .group3 TD:first-child:before{
	content: "\F231\F231\F231 ";
}

.table .form-control, .table .form-select {
	min-width: 5em;
}

.pagination {
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
}


/* Popover */

.popover {
	--bs-popover-max-width: 500px;
}
