/**
 * Para alterar o CSS padrão da aplicação, basta adicionar um arquivo default.css na pasta /css 
 *
 * Se copiar esse CSS para o diretório /css da sua aplicação
 * será necessário refatorar o caminho das imagens para
 * ../resource/css/layout/simpleposts/
 * Exemplo: onde tiver url("header-background.jpg"); terá que ser url("../resource/css/layout/simpleposts/header-background.jpg");
 *
 * Você poderá excluir o conteúdo desse arquivo e importar o CSS se desejar, para isso basta ter um arquivo com o seguinte conteúdo:
 *
 * @IMPORT url("../resource/css/layout/simpleposts/default.css");
 *
 * Isso importará o arquivo CSS padrão, você poderá adicionar regras CSS para incrementar ou alterar o estilo padrão.
 *
 * Os layouts disponíveis são:
 *   @IMPORT url("../resource/css/layout/lightblue/default.css"); //padrão
 *   @IMPORT url("../resource/css/layout/alternate/default.css");
 *   @IMPORT url("../resource/css/layout/simpleposts/default.css");
 *
 */
 
BODY{
	margin: 0px;
	font-family: verdana;
	font-size: 12px;
	background-color: #CCC;
}
.applicationTitle {
    background: black;
    padding: 10px 0px 10px 0px;
    color: #FFF;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-shadow: 1px 2px 2px #555555;
}
.applicationTitle A {
    width: 1000px;
    margin: 0 auto;
    color: white;
    display: block;
}

.body {
	background-color: #fff;
    color: gray;
    font-weight: bold;
    padding: 25px;
    width: 1000px;
    margin: 0 auto 0 auto;
	-webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;    
}
.body TABLE {
    width: 1000px;
    margin-bottom: 5px;
}

.body .title {
	display: block;
	color: #1F85D0;
	font-size: 36px;
	font-weight: normal;
}
.body .smallsize {
	font-size: 20px;
}
.body .contents {
	display: block;
	font-weight: normal;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: #F0F0F0;
    color: black;
    padding: 14px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 14px;
}

A { 
	text-decoration: none;
}

A:hover { 
	text-decoration: underline; 
}

.olderposts {
	padding-top: 16px;
	color:#555;
	font-size: 14px;
	border-bottom: 1px solid gray;
	margin-right:0px;
	display: block;
}

.author {
	font-size: 10px; font-weight:normal
}