INPUT, SELECT {
	text-transform: none;
}

#designTable {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

#designTable TD{
	padding: 0;
}

#designTable TD DIV {
	overflow: hidden;
}

#designTable TD.sectionLabel {
	background-color: #AAA;
	color:white;
	font-size: 0.75em;
	text-transform: uppercase;
	padding: 0.25em;
}

#designTable TD DIV.selected {
	background-color: #ffd;
}

.botoesVerticais{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.botoesHorizontais{
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 0.5em;
}
